@font-face {
  font-family: 'YourCustomFont';
  src: url('../fonts/YourCustomFont.woff2') format('woff2'),
       url('../fonts/YourCustomFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'YourCustomFont', sans-serif;
  background: url('../images/background.jpg');
  margin: 0;
  padding: 0;
}


.container {
  width: 1280px;
  margin: 0 auto;
  padding: 20px 0 60px;
}
.banner {
  height: 615px;
  background-color: #7A46D6;
  background-image: 
    url('../images/banner_girl.png'),
    url('../images/banner_coins.png'),
    url('../images/banner_background.png');
  background-position: 
    top 72px left 836px,
    top 34px left 649px,
    center right;
  background-repeat: no-repeat, no-repeat, no-repeat; /* Отключаем повторение для всех слоев */
  background-size: 
    343px 550px,
    655px 548px,
    contain;
}

.services {
  background: #000000;
}

.services__list {
  display: flex;          /* Используем Flexbox */
  flex-wrap: wrap;        /* Разрешаем перенос элементов на следующую строку */
  gap: 20px;       
}
.service-item {
  box-sizing: border-box;
  flex: 1 1 calc(33.333% - 20px);
  background: #ffffff;

}





.content {
  background: #7A46D6;
}

.reviews__title {
  color: #000000;
}

.reviews__slider {
  display: flex;          /* Используем Flexbox */
  flex-wrap: wrap;        /* Разрешаем перенос элементов на следующую строку */
  gap: 20px;              /* Расстояние между элементами */

}
.review-item {
  box-sizing: border-box;
  flex: 1 1 calc(50% - 20px);
  background: #7A46D6;

}



.discussion {
  background: #06A18F;
}

.discussion__slider {
  display: flex;          /* Используем Flexbox */
  flex-wrap: wrap;        /* Разрешаем перенос элементов на следующую строку */
  gap: 20px;              /* Расстояние между элементами */

}
.member {
  box-sizing: border-box;
  flex: 0 1 320px;
  background-color: #fff;
  padding: 16px 16px 30px 16px;
}

.insights {
  background: #7A46D6;
}

h2, .insights__title {
  color: #ffffff;
  font-family: Outfit;
  font-size: 48px;
  font-weight: 700;
  line-height: 60.48px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.insights__slider {
  margin: 0 auto;
  width: 1135px;
  display: flex;          /* Используем Flexbox */
  flex-wrap: wrap;        /* Разрешаем перенос элементов на следующую строку */
  gap: 20px;              /* Расстояние между элементами */
}
.insight-item {
  width: 365px;
  height: 167px;
  padding: 24px 28px 24px 28px;
  box-sizing: border-box;
  flex: 1 1 calc(33.333% - 20px); /* Устанавливаем ширину элемента примерно 1/3 контейнера с учетом отступов */ 
  box-sizing: border-box;        /* Учитываем отступы и границы в общей ширине элемента */
  background: #ffffff;
  padding: 24px 28px 24px 28px;                 /* Отступ внутри элемента */
}

.insight-item__date {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.insight-item__title {
    font-size: 18px;     /* Размер шрифта для заголовка */
    margin: 10px 0;     /* Отступы сверху и снизу */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.insight-item__readmore {
    color: #000000;      /* Цвет ссылки */
    text-decoration: underline; /* Убираем подчеркивание у ссылки */
    font-family: Outfit;
    font-size: 20px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: left;

}

.insight-item__readmore:hover {
    text-decoration: none; /* Подчеркивание при наведении */
}



.footer {
  height: 650px;
  background-image: url('../images/footer_gradient.png');
  background-repeat: repeat-x;
  background-position: top;
  background-size: contain;
  background-color: #000000;
  padding-top: 400px;
  box-sizing: border-box;
  color: #ffffff;
  text-align: center;
}